@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var $username = $('#txtUsername');
            var $message = $('#txtMessage');
            var $messages = $('#messages');
            $message.focus();
            chat.client.sendMessage = function (name, message) {
                $messages.append('<li><strong>' + name + '</strong>: ' + message + '</li>');
                if ($username.val() !== name) {
                    console.log($username.val());
                    console.log(name);
                    showNotification(name, message)
                }
            };
            $.connection.hub.start().done(function () {
                alert("connection start");
                $('#btnSendMessage').click(function () {
                    chat.server.send($username.val(), $message.val());
                    $message.val('').focus();
                });
            });
        });
    </script>
</head>
<body>
    <div style="width:80px">
        <label for="txtUserName">Hi Zahid!!! Let's Chat!!! NIAZZZZZZZZZZZZZZ</label>

        <label for="txtUserName">User: </label> @Html.TextBox("txtUsername")
        <br />
        <label for="txtMessage">Message: </label> @Html.TextBox("txtMessage") <button id="btnSendMessage">Send</button>
    </div>

    <div id="messages"></div>

    <button onclick="showNotification('BJIT Group','Welcome to BJIT. \nA Global IT consulting firm.')">Notify</button>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>*@

    <script>
        $(document).ready(function () {
            console.log(Notification.permission);
            if (Notification.permission === "granted") {
                alert("we have permission");
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission().then(permission => {
                    console.log(permission);
                });
            }
        });
        function showNotification(name, message) {
            const notification = new Notification(name, {
                body: message,
                icon: "https://bjitgroup.com/static/svg/common/bjit-logo2.svg"
            })
            notification.onclick = (e) => {
                window.location.href = "https://bjitgroup.com/";
            };
        }
    </script>
</body>
</html>